In [2]:
import pandas as pd
import numpy as np
import scipy as sp
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import patsy 
import math

In [3]:
sepsis_data = pd.read_csv("./sepsis3-df-no-exclusions.csv")
sepsis_data[sepsis_data["sepsis_explicit"]==0].columns

Index(['subject_id', 'icustay_id', 'hadm_id', 'excluded', 'intime', 'outtime',
       'dbsource', 'suspected_infection_time_poe',
       'suspected_infection_time_poe_days', 'specimen_poe',
       'positiveculture_poe', 'antibiotic_time_poe', 'blood_culture_time',
       'blood_culture_positive', 'age', 'gender', 'is_male', 'ethnicity',
       'race_white', 'race_black', 'race_hispanic', 'race_other',
       'metastatic_cancer', 'diabetes', 'height', 'weight', 'bmi',
       'first_service', 'hospital_expire_flag', 'thirtyday_expire_flag',
       'icu_los', 'hosp_los', 'sepsis_angus', 'sepsis_martin',
       'sepsis_explicit', 'septic_shock_explicit', 'severe_sepsis_explicit',
       'sepsis_nqf', 'sepsis_cdc', 'sepsis_cdc_simple', 'elixhauser_hospital',
       'vent', 'sofa', 'lods', 'sirs', 'qsofa', 'qsofa_sysbp_score',
       'qsofa_gcs_score', 'qsofa_resprate_score', 'exclusion_secondarystay',
       'exclusion_nonadult', 'exclusion_csurg', 'exclusion_carevue',
       'exclusion_early_suspicion', 'exclusion_late_suspicion',
       'exclusion_bad_data', 'composite_outcome', 'blood culture',
       'suspicion_poe', 'abx_poe', 'sepsis-3', 'sofa>=2'],
      dtype='object')

In [4]:
sepsis_data.intime = pd.to_datetime(sepsis_data.intime)
sepsis_data.outtime = pd.to_datetime(sepsis_data.outtime)


# remove patients with metastatic cancer and diabetes
sepsis_data_rm = sepsis_data[(sepsis_data["diabetes"] == 0) & (sepsis_data["metastatic_cancer"] == 0)]

sepsis_mod = sepsis_data_rm.dropna(subset=["age","gender","weight"]) # Could change later. 
sepsis_mod

,subject_id,icustay_id,hadm_id,excluded,intime,outtime,dbsource,suspected_infection_time_poe,suspected_infection_time_poe_days,specimen_poe,...,exclusion_carevue,exclusion_early_suspicion,exclusion_late_suspicion,exclusion_bad_data,composite_outcome,blood culture,suspicion_poe,abx_poe,sepsis-3,sofa>=2
1,27513,200003,163557,1,2199-08-02 19:50:04,2199-08-08 17:09:18,carevue,2199-08-02 21:02:00,-0.049954,BLOOD CULTURE,...,1,0,0,0,1,True,True,True,1,1
3,20707,200007,129310,1,2109-02-17 10:03:37,2109-02-18 17:03:12,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,False,0,0
4,29904,200009,129607,1,2189-11-30 10:34:32,2189-12-02 14:17:37,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,True,0,1
6,93535,200011,121562,1,2188-08-06 01:39:24,2188-08-07 16:50:53,metavision,2188-08-05 21:41:00,0.165556,URINE,...,0,0,0,0,0,True,True,True,1,1
7,28448,200012,177527,1,2153-12-23 05:12:55,2153-12-23 15:55:54,carevue,2153-12-23 00:30:00,0.196470,BLOOD CULTURE,...,1,0,0,0,0,True,True,True,0,0
8,9514,200014,127229,1,2105-02-16 23:16:48,2105-02-18 16:53:29,carevue,2105-02-17 00:00:00,-0.030000,URINE,...,1,0,0,0,0,True,True,True,1,1
9,74032,200016,117458,1,2150-12-02 15:59:20,2150-12-03 14:54:29,metavision,NaN,NaN,NaN,...,0,0,0,0,0,True,False,False,0,0
12,21789,200019,112486,1,2178-07-08 09:03:12,2178-07-11 10:28:40,carevue,2178-07-08 21:51:00,-0.533194,BLOOD CULTURE,...,1,0,0,0,1,True,True,True,1,1
14,61691,200021,109307,0,2114-12-26 19:45:12,2114-12-27 22:46:28,metavision,NaN,NaN,NaN,...,0,0,0,0,0,True,False,False,0,1
19,23650,200029,102161,1,2115-03-29 20:01:10,2115-03-30 01:13:37,carevue,NaN,NaN,NaN,...,1,0,0,0,1,False,False,False,0,1
23,98276,200034,145866,1,2186-01-20 10:26:04,2186-01-23 15:38:36,metavision,NaN,NaN,NaN,...,0,0,0,0,1,True,False,False,0,1
25,9960,200036,159243,1,2181-08-26 16:38:25,2181-08-29 16:28:48,carevue,2181-08-26 15:00:00,0.068345,BLOOD CULTURE,...,1,0,0,0,0,True,True,True,1,1
30,5986,200041,139545,1,2129-04-01 18:43:39,2129-04-03 22:56:02,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,False,0,0
36,78716,200050,112130,1,2149-07-14 17:51:18,2149-07-15 12:19:36,metavision,NaN,NaN,NaN,...,0,0,0,0,0,True,False,False,0,0
37,26029,200052,125054,1,2193-09-18 12:22:13,2193-09-21 14:06:35,carevue,NaN,NaN,NaN,...,1,0,0,0,1,False,False,False,0,0
39,25225,200055,147080,1,2179-03-17 09:59:19,2179-03-18 17:05:52,metavision,2179-03-17 12:15:00,-0.094225,SEROLOGY/BLOOD,...,0,0,0,0,0,True,True,True,1,1
41,28494,200059,199133,1,2198-02-10 06:05:00,2198-02-23 14:41:10,carevue,2198-02-10 02:45:00,0.138889,BLOOD CULTURE,...,1,0,0,0,1,True,True,True,1,1
43,74282,200061,121149,0,2134-01-23 16:38:46,2134-01-25 16:59:14,metavision,2134-01-24 00:30:00,-0.327245,URINE,...,0,0,0,0,0,True,True,True,1,1
44,32092,200062,131548,1,2157-06-07 08:54:24,2157-06-08 16:23:50,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,True,0,1
46,19891,200065,112840,1,2120-03-22 22:30:45,2120-04-05 15:33:42,carevue,2120-03-22 00:00:00,0.938021,URINE,...,1,0,0,0,1,True,True,True,1,1
47,214,200066,197273,1,2188-10-06 23:56:53,2188-10-09 16:51:15,carevue,2188-10-07 02:40:00,-0.113275,URINE,...,1,0,0,0,0,True,True,True,1,1
48,85350,200067,122992,1,2126-06-29 18:45:37,2126-07-02 16:00:28,metavision,2126-06-29 20:20:00,-0.065544,MRSA SCREEN,...,0,0,0,0,0,True,True,True,1,1
49,17145,200068,105119,1,2193-10-05 01:34:36,2193-10-07 16:51:19,carevue,2193-09-23 11:50:00,11.572639,BLOOD CULTURE,...,1,1,0,0,0,True,True,True,1,1
51,15812,200071,106017,1,2101-04-07 19:37:03,2101-04-08 15:35:54,carevue,2101-04-12 00:00:00,-4.182604,SWAB,...,1,0,1,0,0,True,True,True,1,1
52,73652,200072,129935,1,2106-03-03 19:39:49,2106-03-06 16:55:08,metavision,2106-03-24 15:58:00,-20.845961,MRSA SCREEN,...,0,0,1,0,0,True,True,True,0,0
54,67800,200075,132255,0,2159-09-23 00:13:20,2159-09-25 01:55:17,metavision,2159-09-23 03:33:00,-0.138657,MRSA SCREEN,...,0,0,0,0,0,True,True,True,1,1
55,2530,200077,113580,1,2163-04-08 17:36:00,2163-04-24 14:40:00,carevue,NaN,NaN,NaN,...,1,0,0,0,1,True,False,False,0,1
56,27961,200078,142745,1,2131-08-01 12:50:28,2131-08-02 12:41:12,carevue,2131-08-01 21:44:00,-0.370509,BLOOD CULTURE,...,1,0,0,0,0,True,True,True,1,1
57,32478,200079,162614,0,2158-01-02 20:54:10,2158-01-03 14:27:08,metavision,NaN,NaN,NaN,...,0,0,0,0,0,False,False,False,0,1
58,51698,200081,190004,1,2142-03-01 16:46:10,2142-03-04 18:29:57,metavision,2142-02-27 16:00:00,2.032060,URINE,...,0,1,0,0,1,True,True,True,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61488,11099,299925,192135,1,2135-06-15 21:00:12,2135-07-11 22:39:39,carevue,2135-06-15 11:30:00,0.395972,BLOOD CULTURE,...,1,0,0,0,1,True,True,True,1,1
61489,43359,299928,131748,0,2137-11-06 17:23:04,2137-11-07 15:11:05,metavision,NaN,NaN,NaN,...,0,0,0,0,0,True,False,False,0,0
61490,68184,299929,141388,0,2145-01-14 22:33:54,2145-01-16 17:40:10,metavision,NaN,NaN,NaN,...,0,0,0,0,0,True,False,False,0,1
61491,47967,299930,175890,0,2194-07-04 12:50:24,2194-07-05 18:30:24,metavision,2194-07-04 17:40:00,-0.201111,MRSA SCREEN,...,0,0,0,0,0,True,True,True,1,1
61492,975,299931,165225,1,2139-01-12 22:47:16,2139-01-15 15:48:39,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,True,0,1
61495,22068,299941,161143,1,2178-09-19 07:30:47,2178-09-20 17:35:36,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,False,0,0
61496,83967,299943,182476,0,2151-08-25 03:29:06,2151-08-25 16:13:31,metavision,NaN,NaN,NaN,...,0,0,0,0,0,True,False,False,0,0
61497,93831,299947,107720,1,2116-11-27 21:10:23,2116-11-29 06:10:53,metavision,2116-11-25 13:10:00,2.333600,BLOOD CULTURE,...,0,1,0,0,0,True,True,True,0,0
61498,66696,299948,183226,0,2119-05-25 13:47:31,2119-05-27 12:31:54,metavision,2119-05-25 14:37:00,-0.034363,MRSA SCREEN,...,0,0,0,0,0,True,True,True,1,1
61499,53283,299949,199962,0,2118-07-16 05:42:45,2118-07-20 14:46:25,metavision,2118-07-16 09:25:00,-0.154340,SWAB,...,0,0,0,0,1,True,True,True,1,1
61500,98649,299950,110990,0,2122-06-20 13:25:29,2122-06-22 18:21:02,metavision,2122-06-20 00:00:00,0.559363,URINE,...,0,0,0,0,0,True,True,True,1,1
61503,23200,299954,118320,1,2131-12-06 18:04:32,2131-12-07 14:34:06,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,True,0,1
61504,14330,299955,162631,1,2113-05-02 03:53:21,2113-05-03 15:56:01,carevue,2113-05-01 20:30:00,0.307882,BLOOD CULTURE,...,1,0,0,0,0,True,True,True,1,1
61505,58128,299956,108958,1,2177-05-29 07:38:54,2177-06-25 14:06:01,metavision,2177-05-29 00:30:00,0.297847,BLOOD CULTURE,...,0,0,0,0,1,True,True,True,1,1
61508,17079,299960,119996,1,2201-04-08 16:58:17,2201-04-10 14:26:55,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,True,0,1
61509,24244,299961,165022,1,2108-10-05 19:41:16,2108-10-14 13:36:34,carevue,2108-10-06 10:45:00,-0.627593,BLOOD CULTURE,...,1,0,0,0,1,True,True,True,1,1
61510,73807,299962,146497,0,2195-11-25 19:04:06,2195-11-26 13:21:12,metavision,NaN,NaN,NaN,...,0,0,0,0,0,True,False,False,0,1
61513,16750,299967,104422,1,2155-08-19 11:09:01,2155-08-21 16:20:19,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,False,0,1
61515,27219,299969,102678,1,2136-06-29 10:49:34,2136-06-30 17:47:50,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,True,0,1
61516,10762,299971,118512,1,2114-04-07 18:09:00,2114-04-08 14:58:00,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,False,0,0
61517,7241,299972,150240,1,2174-05-12 05:21:41,2174-05-16 18:29:25,carevue,NaN,NaN,NaN,...,1,0,0,0,1,False,False,False,0,1
61518,6018,299973,173478,1,2167-04-28 03:07:42,2167-04-29 06:34:43,carevue,NaN,NaN,NaN,...,1,0,0,0,1,True,False,False,0,1
61519,265,299976,101608,1,2149-02-20 10:22:49,2149-02-23 16:18:20,carevue,NaN,NaN,NaN,...,1,0,0,0,1,False,False,True,0,1
61520,42728,299979,142693,1,2127-12-05 02:16:42,2127-12-06 18:15:12,metavision,2127-12-02 16:20:00,2.414375,BLOOD CULTURE,...,0,1,0,0,0,True,True,True,0,0
61522,16740,299984,154397,1,2185-09-13 11:01:26,2185-09-27 18:40:36,carevue,2185-09-18 00:13:00,-4.549699,SPUTUM,...,1,0,1,0,1,False,True,True,1,1
61525,11776,299988,161707,1,2190-02-02 08:14:45,2190-02-23 21:09:36,carevue,2190-02-03 00:00:00,-0.656424,URINE,...,1,0,0,0,1,True,True,True,1,1
61526,13083,299992,186679,1,2105-11-21 21:14:34,2105-12-12 16:46:10,carevue,2105-11-21 00:00:00,0.885116,URINE,...,1,0,0,0,1,True,True,True,1,1
61528,10718,299994,177406,1,2114-12-09 11:56:00,2114-12-15 20:29:14,carevue,2114-12-10 19:14:00,-1.304167,MRSA SCREEN,...,1,0,1,0,1,True,True,True,1,1
61529,28775,299995,134959,1,2116-03-04 17:44:39,2116-03-06 18:03:55,carevue,2116-03-04 14:50:00,0.121285,BLOOD CULTURE,...,1,0,0,0,0,True,True,True,1,1
61531,7630,299999,129161,1,2117-08-31 09:33:11,2117-09-01 16:42:00,carevue,NaN,NaN,NaN,...,1,0,0,0,0,False,False,True,0,1

In [5]:
#sepsis_mod

In [6]:
# Create line plot with time series data (based on stay duration w/respect to study origin)
#fig, ax = plt.subplots()
#for i, val in sepsis_mod.iterrows():
#    dur = (sepsis_mod.iloc[i])['stay_duration_days']
#    s = (sepsis_mod.iloc[i])['corrected_intime']
#    #e = (sepsis_mod.iloc[i])['corrected_outtime']
#    ax.hlines(y=0+(i/10), xmin=s, xmax=s+dur, color='r')
#    plt.show()

### Data Preprocessing

In [8]:

# after filtering, sort remaining dataset

# time_baseline for survival analysis is to be based on the first in_time of the data set:
time_baseline = sepsis_mod.sort_values(by='intime').intime.iloc[0]

sepsis_mod['corrected_intime'] = (sepsis_mod.intime - time_baseline).dt.total_seconds()
sepsis_mod['corrected_outtime'] = (sepsis_mod.outtime - time_baseline).dt.total_seconds()
sepsis_mod['stay_duration_sec'] = (sepsis_mod.corrected_outtime - sepsis_mod.corrected_intime)
sepsis_mod['stay_duration_days'] = sepsis_mod.stay_duration_sec/(3600*24)
sepsis_mod = sepsis_mod.sort_values(by='corrected_intime')

#sepsis_mod = sepsis_mod[['icustay_id','hadm_id','corrected_intime','corrected_outtime','stay_duration_sec','stay_duration_days']].sort_values(by='corrected_intime')
#sepsis_mod[sepsis_mod["thirtyday_expire_flag"]==1].shape

#sepsis_mod[sepsis_mod["stay_duration_days"] >= 30].shape
sepsis_mod.shape

(32862, 66)